<h1> <%= @food.name %> </h1>

<h2><%= @food.food_type %></h2>
<h2><%= @food.expiration %></h2>

<%= link_to 'Edit this food', "/foods/#{@food.id}/edit" %>
<%= link_to 'Delete this food', "/foods/#{@food.id}", method: :delete %>
